{% extends 'base.html' %}

{% block head %}
    <title>News.ai</title>
{% endblock %}

{% block body %}
    <div class="container px-1">
        <h1 class="my-2"><b>Top Headlines{{ headlines['category'] }}</b></h1>

        {%  for articleNum in range(headlines['articles'] | length) %}
            {% set article = headlines['articles'][articleNum] %}
                <div class="row my-3">

                    <div class="card mx-auto" style="max-width: 65%;">
                        <img class="card-img-top" src="{{ article['urlToImage'] }}" alt="{{ article['title'] }}" style="max-height: 572px; width: auto; height: auto;">
                        <div class="card-body">
                          <h5 class="card-title">{{ article['title'] }}</h5>
                          <p class="card-text"><small class="text-muted">{{ article['source']['name'] }} | {{ article['publishedAt'] }}</small></p>
                          <p class="card-text">{{ article['content'] }}</p>
                          <a href="{{ article['url'] }}" class="btn btn-primary">Full story</a>
                        </div>
                    </div>

                </div>
        {% endfor %}

        <div class="div my-2">
            <center>
                <a href="{{ headlines['prev_url'] }}" class="btn btn-primary">Previous</a>
                <a href="{{ headlines['next_url'] }}" class="btn btn-primary">Next</a>
            </center>
        </div>
    </div>
{% endblock %}